@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&display=swap');
body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    color: #ffffff;
    user-select: none;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

.container, .row, .col {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

.row {
    background-color: #1e1e1e;
    overflow: hidden;
    padding: 1% 0 0 1%;
}

.col1, .col3 {
    width: 24%;
    display:inline-block;
    margin: 1%;
    border-style: solid;
    float: left;
}

.col2 {
    width: 44%;
    display:inline-block;
    margin: 1%;
    border-style: solid;
    float: left;
}

.col1row {
    background-color: #cf0520;
    overflow: hidden;
    padding: 1%;
}

.col2row {
    background-color: #016977;
    overflow: hidden;
    padding-left: 1%;
}

.col3row {
    background-color: #02548b;
    overflow: hidden;
    padding: 1%;
}

.row1col {
    background-color: #1e1e1e;
    overflow: hidden;
    padding: 1%;
}

.row1colp {
    font-size: 18pt;
}

.row1col1 {
    width: 99%;
    background-color: #363636;
    display:inline-block;
    float: left;
    height: 30px;
    text-align: right;
    font-size: 10pt;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

.row3col {
    width: 30%;
    background-color: #2e2e2e;
    display:inline-block;
    margin: 1%;
    float: left;
    height: 50px;
    text-align: right;
    font-size: 10pt;
    padding-top: 1%;
    padding-left: 1%;
}

.spancol {
    font-size: 10pt;
    padding-top: 1%;
}

a {
    color: #c4c2c2;
}